---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Abhijit kumar" description="About Abhijit kumar Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Abhijit kumar at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						"Hello! I'm Abhijit , a passionate and experienced full-stack developer. With 2 years of hands-on experience in web development, I thrive on creating innovative and user-friendly solutions. My expertise lies in designing and implementing robust project architectures, crafting intuitive front-end interfaces, and integrating seamless functionality across the stack.

					</p>
					<p>
						Throughout my career, I have worked with a diverse range of technologies, including various modern relevant technologies This breadth of knowledge enables me to tackle projects from end to end, ensuring efficient code, scalability, and optimal performance.

					</p>
					<p>
						Throughout my career, I have worked with a diverse range of technologies, including various modern relevant technologies This breadth of knowledge enables me to tackle projects from end to end, ensuring efficient code, scalability, and optimal performance.

					</p>
					<p>
						In addition to technical expertise, I prioritize clean code practices, test-driven development, and continuous learning. I stay up to date with the latest industry trends and tools to provide the best solutions for my clients. My goal is to deliver high-quality work that not only meets client expectations but also exceeds them.

I am a reliable and self-motivated professional who values clear communication and timely delivery. I take pride in my ability to work independently, as well as in a collaborative team environment. Whether it's building an intuitive user interface, optimizing database performance, or developing robust applications , I am dedicated to creating exceptional experiences for both clients and end-users.

If you're looking for a skilled full-stack developer who can bring your ideas to life and deliver top-notch solutions, I would love to discuss how I can contribute to your project. Let's collaborate and build something great together!"
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BCA ( Manipal university Jaipur India ) </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>ReactJS , NextJS , JS TS , NodeJS , MongoDB and Python  Django etc .</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
